table{
    width :1600px ;

}
#header{
    width : 100% ;
    background-color: black;
    color : white;
    text-align: center;
}
#nav{
    background-color:lightslategray;
    width: 100px;
    line-height: 30px;
}
#nav>ul{
    list-style-type: none;
    text-indent: 50px;
    margin-top: -5px;
}
#nav li>a{
    text-decoration: none;
    color: black;
}
#main{
    width: 550px;
    padding: 10px;
}
